.hero
    pointer-events: none
    margin: auto
    height: 90vh
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    .hero-text
        z-index: 1
        width: 700px
        margin: auto
        padding: 2rem
        border: 2px solid white
        font-size: 1.3rem
        a
            pointer-events: auto
        p
            line-height: 1.6
        h1 
            margin: 0
            letter-spacing: 5px
            font-size: 3rem
    .hero-image
        z-index: 1
        margin: auto