.marsphoto-box
    width: 90%
    height: 90vh  
    border: 2px solid white
    margin: auto
    display: grid
    grid-template-columns: 1fr 1fr
    .marsphoto-info-box
        z-index: 2
        border: 2px solid white
    //     h1, p
    //         margin: 0
    //         padding: 0

    // .marsphoto-img-box
    //     z-index: 2
    //     border: 2px solid white