/* backgroundColor: #010b19;  dark blue */
/*                  #021631; */
/*                  #03214a; */
/*                  #042c62; */
/*                  #05377b; light blue */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap')

*,
*::before,
*::after
  z-index: 1
  box-sizing: border-box

/* Set core root defaults */
html:focus-within
  scroll-behavior: smooth

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-thumb
  background: white
  border-radius: 100vw

body, html
  background: url(./assets/textures/2k_stars_milky_way.jpg) no-repeat left center / cover
  font-family: 'Rubik', sans-serif
  margin: 0
  min-height: 100vh
  height: 100%
  text-rendering: optimizeSpeed
  color: rgb(240, 240, 240)
  overflow: hidden
  position: relative

a
  text-decoration: none
  font-weight: 600
  color: rgb(220, 220, 220)
  &::before
    content: '>> \00a0'
    opacity: 0
  &:hover, &:active
    color: rgb(255, 255, 255)
    &::before
      opacity: 1

.title 
  margin: 0
  padding: 20px 0
  text-align: center

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select
  font: inherit

@media (prefers-reduced-motion: reduce)
  html:focus-within
    scroll-behavior: auto
  *,
  *::before,
  *::after
    animation-duration: 0.01ms !important
    animation-iteration-count: 1 !important
    transition-duration: 0.01ms !important
    scroll-behavior: auto !important

.loading
  height: 95vh
  display: grid
  place-items: center
