* {
  margin: 0;  
}

/* backgroundColor: #010b19; */
/*                  #021631; */
/*                  #03214a; */
/*                  #042c62; */
/*                  #05377b; */


body {
  color: white;
  background-color:#010b19;
  scroll-behavior: smooth;
}