/* backgroundColor: #010b19;  dark blue */
/*                  #021631; */
/*                  #03214a; */
/*                  #042c62; */
/*                  #05377b; light blue */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap')

*,
*::before,
*::after
  box-sizing: border-box

/* Set core root defaults */
html:focus-within 
  scroll-behavior: smooth

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-thumb
  background: white
  border-radius: 100vw

body
  font-family: 'Rubik', sans-serif
  margin: 0
  min-height: 100vh
  text-rendering: optimizeSpeed
  background-image: linear-gradient(to bottom, #18191a, #131922, #121729, #18142f, #230e30)
  // background-image: linear-gradient(to bottom, #1a151f, #181118, #130b11, #0c0608, #000000)
  color: white

a
  color: white
  text-decoration: none

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select 
  font: inherit

@media (prefers-reduced-motion: reduce) 
  html:focus-within 
   scroll-behavior: auto
  
  *,
  *::before,
  *::after 
    animation-duration: 0.01ms !important
    animation-iteration-count: 1 !important
    transition-duration: 0.01ms !important
    scroll-behavior: auto !important

.loading
  height: 95vh
  display: grid
  place-items: center

#bg
  position: fixed
  top: 0
  left: 0